solutions/DateFormat/Workflows/dateformat-FB419B90-3CDA-EF11-8EEA-000D3A32D0D1.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "crc76_sharedsharepointonline_aed3f"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Stop_sharing_a_file_by_Id": {
          "runAfter": {
            "Grant_review_role_to_user": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://m365x58763025.sharepoint.com/sites/PNC33",
              "table": "3d9f2c34-6617-4e8e-b0b4-4e02f5545e75",
              "id": 124
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "UnshareItem"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        },
        "Get_Principal_ID": {
          "runAfter": {
            "Grant_access_to_an_item_or_a_folder": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://m365x58763025.sharepoint.com/sites/PNC33",
              "parameters/method": "GET",
              "parameters/uri": "_api/web/siteusers/getbyemail('ashok.msapps@gmail.com')"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "HttpRequest"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        },
        "Principal_Id": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@body('Parse_JSON')?['d']?['Id']"
        },
        "Parse_JSON": {
          "runAfter": {
            "Get_Principal_ID": [
              "Succeeded"
            ]
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@body('Get_Principal_ID')",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "type": "object",
                  "properties": {
                    "__metadata": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "uri": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    },
                    "Alerts": {
                      "type": "object",
                      "properties": {
                        "__deferred": {
                          "type": "object",
                          "properties": {
                            "uri": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "Groups": {
                      "type": "object",
                      "properties": {
                        "__deferred": {
                          "type": "object",
                          "properties": {
                            "uri": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "Id": {
                      "type": "integer"
                    },
                    "IsHiddenInUI": {
                      "type": "boolean"
                    },
                    "LoginName": {
                      "type": "string"
                    },
                    "Title": {
                      "type": "string"
                    },
                    "PrincipalType": {
                      "type": "integer"
                    },
                    "Email": {
                      "type": "string"
                    },
                    "Expiration": {
                      "type": "string"
                    },
                    "IsEmailAuthenticationGuestUser": {
                      "type": "boolean"
                    },
                    "IsShareByEmailGuestUser": {
                      "type": "boolean"
                    },
                    "IsSiteAdmin": {
                      "type": "boolean"
                    },
                    "UserId": {},
                    "UserPrincipalName": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "Grant_access_to_an_item_or_a_folder": {
          "runAfter": {
            "Stop_sharing_a_file_by_Id": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://m365x58763025.sharepoint.com/sites/PNC33",
              "table": "3d9f2c34-6617-4e8e-b0b4-4e02f5545e75",
              "id": 124,
              "parameter/recipients": "meganb@m365x58763025.onmicrosoft.com;admin@m365x58763025.onmicrosoft.com",
              "parameter/roleValue": "role:1073741827"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "GrantAccess"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        },
        "Terminate": {
          "runAfter": {
            "Set_content_approval_status": [
              "Succeeded"
            ]
          },
          "type": "Terminate",
          "inputs": {
            "runStatus": "Succeeded"
          }
        },
        "Grant_review_role_to_user": {
          "runAfter": {
            "Terminate": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://m365x58763025.sharepoint.com/sites/PNC33",
              "parameters/method": "POST",
              "parameters/uri": "_api/web/lists/getbytitle('TechData')/items(116)/roleassignments/addroleassignment(principalid=17, roledefid=1073741830)"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "HttpRequest"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        },
        "Set_content_approval_status": {
          "runAfter": {
            "Send_an_HTTP_request_to_SharePoint": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://m365x58763025.sharepoint.com/sites/NOL-Newsonline",
              "table": "1f0e760f-d57c-4f5c-a3f9-9589e06eb6b4",
              "id": 2,
              "approvalAction": "Approve",
              "comments": "",
              "entityTag": "@outputs('Get_file_metadata')?['body/ETag']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "SetApprovalStatus"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        },
        "Get_file_properties": {
          "runAfter": {},
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://m365x58763025.sharepoint.com/sites/NOL-Newsonline",
              "table": "1f0e760f-d57c-4f5c-a3f9-9589e06eb6b4",
              "id": 13
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "GetFileItem"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        },
        "Get_file_metadata": {
          "runAfter": {
            "Terminate_1": [
              "Succeeded"
            ]
          },
          "metadata": {
            "%252fDocument%2bApproval%2bProcess%252fabc.docx": "/Document Approval Process/abc.docx",
            "%252fDocument%2bApproval%2bProcess%252fimages56.jpg": "/Document Approval Process/images56.jpg"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://m365x58763025.sharepoint.com/sites/NOL-Newsonline",
              "id": "%252fDocument%2bApproval%2bProcess%252fimages56.jpg"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "GetFileMetadata"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        },
        "Send_an_HTTP_request_to_SharePoint": {
          "runAfter": {
            "Set_variable_1": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://m365x58763025.sharepoint.com/sites/NOL-Newsonline",
              "parameters/method": "POST",
              "parameters/uri": "/_api/web/getfilebyserverrelativeurl('@{encodeUriComponent(variables('Server relative url'))}')/Unpublish()/",
              "parameters/headers": {
                "Accept": "application/json;odata=verbose",
                "Content-Type": "application/json;odata=verbose",
                "IF-MATCH": "*",
                "X-HTTP-Method": "PATCH"
              }
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "HttpRequest"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        },
        "Set_variable": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "type": "SetVariable",
          "inputs": {
            "name": "Server relative url",
            "value": "@{split('https://m365x58763025.sharepoint.com/sites/NOL-Newsonline','.com')[1]}/@{uriComponent(outputs('Get_file_properties')?['body/{FullPath}'])}"
          }
        },
        "Set_variable_1": {
          "runAfter": {
            "Set_variable": [
              "Succeeded"
            ]
          },
          "type": "SetVariable",
          "inputs": {
            "name": "Server relative url",
            "value": "/sites/NOL-Newsonline/Document%20Approval%20Process/abc.docx"
          }
        },
        "Delay_Until": {
          "runAfter": {
            "Get_file_properties": [
              "Succeeded"
            ]
          },
          "type": "Wait",
          "inputs": {
            "until": {
              "timestamp": "@convertToUtc(outputs('Get_file_properties')?['body/Schedule_x0020_Start_x0020_Date1'], 'Eastern Standard Time')"
            }
          }
        },
        "Initialize_variable": {
          "runAfter": {
            "Get_file_metadata": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Server relative url",
                "type": "string"
              }
            ]
          }
        },
        "Terminate_1": {
          "runAfter": {
            "Delay_Until": [
              "Succeeded"
            ]
          },
          "type": "Terminate",
          "inputs": {
            "runStatus": "Succeeded"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}